@font-face {
  font-family: 'PT Root UI_Bold';
  src: url(../fonts/PT_Root_UI_Bold.woff) format("woff");
  src: url(../fonts/PT_Root_UI_Bold.woff2) format("woff2");
}

@font-face {
  font-family: 'PT Root UI_Regular';
  src: url(../fonts/PT_Root_UI_Regular.woff) format("woff");
  src: url(../fonts/PT_Root_UI_Regular.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*
.content {
  flex: 1 0 auto;
}
*/
header {
  background-color: #ffffff;
  width: 100%;
}

.header__content {
  max-width: 1170px;
  margin: auto;
  padding: 13px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__content__logo {
  width: calc(100%/6);
}

.header__content__phone {
  width: calc(100%/6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__content__phone img {
  width: 16px;
  margin-right: 10px;
}

.header__content__phone span {
  font-size: 16px;
  font-family: 'PT Root UI_Bold';
  color: #343e5c;
}

.header__content__check-order {
  width: 25%;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__content__check-order span {
  font-size: 14px;
  font-family: 'PT Root UI_Regular';
  font-weight: 600;
  margin-right: 9px;
  color: #343e5c;
}

.header__content__check-order img {
  width: 18px;
}

.header__content__cart {
  width: calc(100%/6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__content__cart img {
  width: 18px;
  margin-right: 8px;
}

.header__content__cart__text {
  font-size: 14px;
  font-family: 'PT Root UI_Regular';
  font-weight: 600;
  color: #343e5c;
  margin-right: 9px;
}

.header__content__cart__count {
  margin-top: 3px;
  font-size: 11px;
  font-family: 'PT Root UI_Regular';
  font-weight: 600;
  color: #142558;
  padding: 5px 8.5px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #f6f6fa;
}

.header__content__log-in {
  width: calc(100%/12);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__content__log-in div {
  border: 2px solid #e3e8f0;
  background-color: #ffffff;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  width: 100%;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header__content__log-in div img {
  margin-right: 7px;
  width: 12px;
}

.header__content__log-in div span {
  font-size: 14px;
  font-family: 'PT Root UI_Regular';
  font-weight: 600;
  color: #343e5c;
}

nav {
  background-color: #ffffff;
  width: 100%;
  border-width: 1px 0;
  border-style: solid;
  border-color: #f0f2f7;
}

.nav__content {
  max-width: 1170px;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav__content__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100%/12*8);
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin: 0;
}

.nav__content__menu__item {
  text-transform: uppercase;
  list-style: none;
  font-size: 12px;
  font-family: 'PT Root UI_Bold';
  margin-right: 30px;
  padding: 20px 0;
}

.nav__content__menu__item a {
  color: #343e5c;
  text-decoration: none;
}

.nav__content__menu__item a:hover {
  color: #f54732;
}

.nav__content__menu__item a:active {
  border-bottom: 3px solid #f54732;
  padding-bottom: 17px;
}

.nav__content__menu__item:last-child {
  margin-right: auto;
}

.nav__content__search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: calc(100%/12*4);
  border-width: 0 1px;
  border-style: solid;
  border-color: #f0f2f7;
}

.nav__content__search input {
  width: 90%;
  font-size: 16px;
  font-family: 'PT Root UI_Regular';
  height: 100%;
  border: none;
  padding: 0;
  margin-left: 20px;
}

.nav__content__search input:focus {
  outline: none;
}

.nav__content__search img {
  width: 15px;
  margin-right: 20px;
}

footer {
  background-color: #222328;
  width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__content {
  max-width: 1170px;
  margin: auto;
  padding: 20px 0 40px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__content__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 13px;
}

.footer__content__logo {
  width: calc(100% / 6);
}

.footer__content__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc(100%/12*8);
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-left: calc(100%/12);
  padding-left: 5px;
}

.footer__content__menu-item {
  text-transform: uppercase;
  list-style: none;
  /*font-size: 12px; template font*/
  font-size: 12.3px;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'PT Root UI_Bold';
  margin-right: 30px;
  padding: 20px 0;
}

.footer__content__menu-item a {
  color: #ffffff;
  text-decoration: none;
}

.footer__content__menu-item a:hover {
  color: #f54732;
}

.footer__content__menu-item:last-child {
  margin-right: auto;
}

.footer__content__additional-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #9ea5ba;
  padding-top: 22px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: 'PT Root UI_Regular';
  font-weight: 500;
}

.footer__content__copyright {
  font-size: 14px;
  margin-right: calc(100%/12);
}

.footer__content__techsupport {
  width: calc(100%/6);
  margin-right: calc(100%/12);
}

.footer__content__techsupport-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__content__techsupport-text img {
  margin-right: 8px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.footer__content__techsupport-text span {
  font-size: 14px;
}

.footer__content__techsupport-phone {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: calc(100%/12);
  font-family: 'PT Root UI_Bold';
  margin-left: 30px;
  line-height: 1.7;
}

.footer__content__check-order {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: calc(100%/12);
  padding: 0 15px;
}

.footer__content__check-order a {
  font-size: 14px;
  margin-right: 8px;
  text-decoration: none;
  color: #9ea5ba;
}

.footer__content__check-order a:hover {
  color: #ffffff;
}

.footer__content__log-in {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  margin-right: calc(100%/12);
  padding-left: 15px;
}

.footer__content__log-in img {
  margin-right: 12px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
}

.footer__content__log-in a {
  font-size: 14px;
  text-decoration: none;
  color: #9ea5ba;
}

.footer__content__log-in a:hover {
  color: #ffffff;
}
