$primary_font_color:rgb(20, 37, 88);
$secondary_font_color:#9ea5ba;
$otherwhite:#f0f2f7;
$active:#f54732;
$bg_main:#f5f8fa;
$btn_border:#e3e8f0;

.main {
  flex: 1 0 auto;
  background-color: $bg_main;
  padding-top: 80px;
  padding-bottom: 550px;
  &__wrapper{
    max-width: 570px;
    margin: 0 auto;
  }
}

.authorization{
  &__title{
    margin-bottom: 43px;
    font-size: 36px;
    color: $primary_font_color;
    font-family: "PT Root UI_Bold";
    line-height: 1.2;
    display: flex;
    justify-content: center;
  }
  &__content{
    background-color: white;
    border-radius: 5px;
    padding: 37px 130px 57px 130px;
  }
  &__text{
    font-size: 16px;
    font-family: "PT Root UI_Regular";
    color: $primary_font_color;
    margin-bottom: 15px;
    line-height: 1.313;
  }
  &__order-code,&__email{
    line-height: 1.313;
    font-family: "PT Root UI_Regular";
    font-size: 16px;
    width: 100%;
    border: 2px solid $btn_border;
    border-radius: 3px;
    padding: 10px 20px;
    margin: 10px 0;
    color: $secondary_font_color;
    box-sizing: border-box;
    &:focus{
      outline: none;
    }
    &::placeholder{
      color: $secondary_font_color;
    }
  }
  &__btn{
    margin-top: 20px;
    background-color: $active;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    &-text{
      font-size: 18px;
      font-family: "PT Root UI_Bold";
      line-height: 1.167;
      color: white;
      margin-right: 8px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .main{
    &__authorization{
      margin-top: 60px;
      margin-bottom: 215px;
    }
  }
}

@media screen and (max-width: 749px) {
  .main{
    padding-top: 50px;
    padding-bottom: 60px;
    &__authorization{
      padding: 0 15px;
    }
  }
  .authorization{
    &__title{
      font-size: 24px;
      width:80%;
      text-align: center;
      margin-left: 10%;
      margin-bottom: 30px;
    }
    &__content{
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
