header {
  background-color: white;
  width: 100%;
  z-index: 1;
}

%cart-count{
  margin-top: 3px;
  font-size: 11px;
  font-family: 'PT Root UI_Regular';
  font-weight: 600;
  color: #142558;
  padding: 5px 8.5px;
  border-radius: 100%;
  background-color: $whity;
}

.header{
  &__content{
    max-width: 1170px;
    margin: auto;
    padding: 13px 0;
    display: flex;
  }

  &__burger-menu{
    width: 100%;
    position: absolute;
    background-color: white;
    padding-top: 15px;
    display: none;
  }

  &__burger-icon{
    display: none;
    align-self: center;
    padding:0 15px;
  }

  &__logo {
    width:calc(100%/6);
  }

  &__phone{
    width:calc(100%/6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    svg {
      margin-right: 10px;
    }
    span {
      font-size: 16px;
      font-weight: 900;
      font-family: 'PT Root UI_Bold';
      color: $primary_font_color;
    }
  }

  &__check-order{
    width: 25%;
    margin-left: calc(100%/6 + 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
  }

  &__search{
    display: none;
    margin-left: auto;
    width: calc(100%/12);
    align-items: center;
    justify-content: center;
    &-icon--active :first-child{
      fill:$active;
    }
  }

  &__cart{
    width:calc(100%/6);
    display: flex;
    align-items: center;
    padding-left: 15px;
    &-icon{
      margin-right: 8px;
      &--active{
        margin-right: 8px;
        path{
          fill:$active;
        }
      }
    }
    &-text{
      font-size: 14px;
      font-family: 'PT Root UI_Regular';
      font-weight: 600;
      color: $primary_font_color;
      margin-right: 9px;
    }
    &-count{
      @extend %cart-count;
      &--active{
        @extend %cart-count;
        color: $active;
      }
    }
  }

  &__log-in{
    width:calc(100%/12);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.burger-menu{
  &__close{
    padding:5px 15px 0 15px;
    position: absolute;
  }

  &__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-item{
      width: 100%;
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      list-style: none;
      font-size: 12px;
      font-family: 'PT Root UI_Bold';
      letter-spacing: 1.1px;
      margin-bottom: 16px;
      a{
        color: $primary_font_color;
        text-decoration: none;
        &:hover{
          color: $active;
        }
      }
    }
  }

  &__divider{
    height: 1px;
    background-color: $otherwhite;
    width: 50%;
    margin: 20px 0 25px 0;
  }

  &__techsupport{
    font-family: 'PT Root UI_Bold';
    color: $primary_font_color;
  }

  &__check-order{
    margin: 20px 0;
  }

  &__log-in{
    width: calc(100%/6 - 30px);
    margin-bottom: 60px;
  }

}

.techsupport{
  &__content{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon{
    margin-right: 8px;
    align-self: flex-start;
  }

  &__text{
    font-size: 14px;
    line-height: 1.2;
  }

  &__phone{
    display: flex;
    justify-content: center;
    line-height: 1.7;
    font-family: "PT Root UI";
    font-weight: bold;
    font-size: 16px;
  }
}

.check-order{
  &__content{
    text-decoration: none;
    display: flex;
    &:hover .check-order__text{
      color: $active;
    }
    &:hover .check-order__icon :first-child{
      fill:$active;
    }

  }

  &__text {
    transition: color 0.25s;
    font-size: 14px;
    font-family: 'PT Root UI_Regular';
    font-weight: 600;
    margin-right: 8px;
    color: $primary_font_color;
  }

  &__icon :first-child{
    transition: fill 0.25s;
  }
}

.log-in{
  &__content{
    border: 2px solid $btn_border;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg{
      margin-right: 7px;
    }
    span{
      font-size: 14px;
      font-family: 'PT Root UI_Regular';
      font-weight: 600;
      color: $primary_font_color;
    }
  }
}

@media screen and (max-width: 1199px) {
  .header{
    &__content{
      padding: 10px 0;
    }

    &__burger-icon{
      display: flex;
    }

    &__logo img{
      max-height: 45px;
    }

    &__phone,&__check-order,&__cart-text,&__log-in{
      display: none;
    }

    &__cart{
      width:calc(100%/12);
      margin-left: -15px;
    }

    &__search{
      display: flex;
    }
  }
}

@media screen and (max-width: 749px) {
  .header{
    &__search{
      padding-right: 15px;
    }
    &__cart{
      padding-right: 15px;
      width: calc(100%/6);
    }
  }
}