header {
  background-color: #ffffff;
  width: 100%;
}

.header__content {
  max-width: 1170px;
  margin: auto;
  padding: 13px 0;
  display: flex;

  &__logo {
    width:calc(100%/6);
  }

  &__phone{
    width:calc(100%/6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    svg {
      margin-right: 10px;
    }
    span {
      font-size: 16px;
      font-weight: 900;
      font-family: 'PT Root UI_Bold';
      color: $primary_font_color;
    }
  }

  &__check-order{
    width: 25%;
    margin-left: calc(100%/6 + 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    span {
      font-size: 14px;
      font-family: 'PT Root UI_Regular';
      font-weight: 600;
      margin-right: 9px;
      color: $primary_font_color;
    }
  }

  &__cart{
    width:calc(100%/6);
    display: flex;
    align-items: center;
    padding-left: 15px;
    img{
      width: 18px;
      margin-right: 8px;
    }
    &__text{
      font-size: 14px;
      font-family: 'PT Root UI_Regular';
      font-weight: 600;
      color: $primary_font_color;
      margin-right: 9px;
    }
    &__count{
      margin-top: 3px;
      font-size: 11px;
      font-family: 'PT Root UI_Regular';
      font-weight: 600;
      color: #142558;
      padding: 5px 8.5px;
      border-radius: 100%;
      background-color: $whity;
    }
  }

  &__log-in{
    width:calc(100%/12);
    display: flex;
    align-items: center;
    justify-content: center;
    div{
      border: 2px solid #e3e8f0;
      background-color: #ffffff;
      border-radius: 5px;
      width: 100%;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg{
        margin-right: 7px;
      }
      span{
        font-size: 14px;
        font-family: 'PT Root UI_Regular';
        font-weight: 600;
        color: $primary_font_color;
      }
    }
  }
}