.main {
  flex: 1 0 auto;
  background-color: $bg_main;
  &__banner {
    width: 100%;
    height: 235px;
    background-color: white;
  }
  &__filter {
    height: 92px;
    max-width: 1170px;
    background-color: white;
    margin: 48px auto 10px auto;
    border-radius: 5px;
    display: flex;
  }

  &__products {
    max-width: 1170px;
    margin: 0 auto;
    &-wrapper {
      margin: 0 -15px;
      display: flex;
      flex-wrap: wrap;
    }
    &-banner {
      width: 50%;
      padding: 15px;
      box-sizing: border-box;
    }
  }
  &__product {
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
  }

  &__pagination {
    max-width: 1170px;
    margin: 58px auto 98px auto;
    background-color: white;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.banner {
  &__content {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  &__text {
    align-self: center;
    font-size: 42px;
    line-height: 1.2;
    font-family: 'PT Root UI_Bold';
    color: $primary_font_color;
    padding-bottom: 22px;
  }
  &__chair {
    width: 25%;
    margin-top: 20px;
    margin-right: 5.35%;
  }
}

%filter-text {
  margin-right: 10px;
  font-family: 'PT Root UI_Regular';
  font-weight: 600;
  color: $primary_font_color;
  font-size: 16px;
}

%filter-dropdown {
  font-family: 'PT Root UI_Bold';
  color: $primary_font_color;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
}

%filter-dropdown-menu {
  position: absolute;
  list-style: none;
  padding: 10px 0 20px 24px;
  background-color: white;
  width: 125%;
  cursor: auto;
  top: 180%;
  border-radius: 5px;
  box-shadow: 0 6px 20px -6px rgba(0, 0, 0, 0.3);
}

%filter-dropdown-item {
  cursor: pointer;
  margin: 15px 0;
}

%page {
  font-size: 14px;
  font-family: "PT Root UI_Bold";
  color: $primary_font_color;
  padding: 15px 20px;
}

.filter {
  &__price {
    width: 25%;
    font-family: 'PT Root UI_Regular';
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;

    &-text {
      height: 100%;
      display: flex;
      align-items: center;
      margin-left: auto;
      padding-right: 28px;
      color: $primary_font_color;
      font-family: 'PT Root UI_Regular';

    }
    &-content {
      width: 69%;
    }
    &-min, &-max {
      margin-top: 8px;
      width: 33.9%;
      border-radius: 2px;
      border: 2px solid $btn_border;
      padding: 6px 5px;
      font-family: 'PT Root UI_Bold';
      font-size: 14px;
      outline: 0;
    }
    &-max{
      float: right;
    }
    &-divider {
      padding: 0 6.5px;
      font-size: 24px;
      font-weight: 100;
    }
    &-slider {
      width: 100%;
    }

  }
  &__sort {
    width: 25%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 30px;
    &-text {
      @extend %filter-text;
    }
    &-dropdown {
      @extend %filter-dropdown;
      &-menu {
        @extend %filter-dropdown-menu;
        display: none;
      }
      &-item {
        @extend %filter-dropdown-item;
        font-family: 'PT Root UI_Regular';
        font-weight: 500;
        &--active {
          @extend %filter-dropdown-item;
          font-family: 'PT Root UI_Bold';
        }
      }

    }
    &-active {
      margin-right: 5px;
      font-size: 16px;
    }
    &-icon {
      margin-top: 3px;
    }
  }
  &__amount {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 20px;
    &-text {
      @extend %filter-text;
    }
    &-dropdown {
      @extend %filter-dropdown;
      &-menu {
        @extend %filter-dropdown-menu;
        display: none;
      }
      &-item {
        @extend %filter-dropdown-item;
        font-family: 'PT Root UI_Regular';
        font-weight: 500;
        &--active {
          @extend %filter-dropdown-item;
          font-family: 'PT Root UI_Bold';
        }
      }
    }
    &-active {
      margin-right: 5px;
      font-size: 16px;
    }
    &-icon {
      margin-top: 3px;
    }
  }
}

.slider {
  position: relative;
  &__full-bar {
    width: 100%;
    height: 3px;
    background-color: #a1a8bd;
    border-radius: 1px;
    margin-top: 12px;
    position: relative;
  }
  &__range {
    height: 3px;
    width: 50%;
    height: 3px;
    background-color: $active;
    border-radius: 1px;
    position: absolute;
  }
  &__min, &__max {
    position: absolute;
    top: -8px;
  }

  &__min {
    margin-left: 50%;
  }

}

.product {
  &__content {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    &:hover {
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
      transition: box-shadow 0.25s;
    }
  }
  &__img {
    width: 75%;
    height: 232px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__info{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name {
    font-size: 16px;
    font-family: "PT Root UI_Regular";
    line-height: 1.25;
    color: $primary_font_color;
    font-weight: 600;
    margin-bottom: 13px;
  }

  &__price {
    font-size: 24px;
    font-family: "PT Root UI_Bold";
    line-height: 0.833;
    color: $primary_font_color;
  }

  &__cart-btn {
    font-size: 14px;
    font-family: "PT Root UI_Bold";
    line-height: 1.2;
    color: $primary_font_color;
    padding: 8px 16px;
    border: 2px solid $btn_border;
    border-radius: 3px;
    margin: 25px 0 40px 0;
    cursor: pointer;
  }
}

.products-banner {
  &__content {
    background-image: url("../images/products_banner.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__text {
    font-size: 36px;
    font-family: "PT Root UI_Bold";
    width: 50%;
    color: $primary_font_color;
    line-height: 1.2;
    display: flex;
    justify-self: center;
    margin-left: 7%;
  }
  &__btn {
    font-size: 14px;
    font-family: "PT Root UI_Bold";
    color: $primary_font_color;
    line-height: 1.2;
    width: calc(100% / 6);
    cursor: pointer;
    border: 2px solid #a8b8c6;
    border-radius: 5px;
    margin-top: 30px;
    padding: 8px 10px;
    margin-left: 7%;
  }
}

.pagination {
  &__first-icon {
    margin-right: 15px;
    cursor: pointer;
    & :nth-child(n + 2){
      transition: fill 0.25s;
    }
    &:hover :nth-child(n + 2){
        fill: $active;
    }
  }

  &__prev-icon{
    cursor: pointer;
    & :last-child{
      transition: fill 0.25s;
    }
    &:hover :last-child{
      fill: $active;
    }
  }

  &__pages {
    display: flex;
    list-style: none;
    width: 38%;
    justify-content: space-around;
  }
  &__page {
    @extend %page;
    cursor: pointer;
    transition: color 0.25s;
    &:hover {
      color: $active;
    }
    &--active {
      @extend %page;
      background-color: white;
      border-radius: 100%;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
      color: $active;
    }
  }

  &__next-icon{
    cursor: pointer;
    margin-left: 26px;
    & :last-child{
      transition: fill 0.25s;
    }
    &:hover :last-child{
      fill: $active;
    }
  }

  &__last-icon{
    margin-left: 15px;
    cursor: pointer;
    & :nth-child(n + 2){
      transition: fill 0.25s;
    }
    &:hover :nth-child(n + 2){
      fill: $active;
    }
  }
}

@media screen and (max-width: 1199px) {
  .main{
    &__filter{
      margin: 40px 15px 10px 15px;
      height: auto;
      padding: 20px 0;
    }
    &__products-wrapper{
      padding: 0 15px;
    }
    &__product{
      width: 33.3%;
    }
    &__products-banner{
      width: 100%;
      height: 415px;
    }
    &__pagination{
      margin-right: 15px;
      margin-left: 15px;
    }
  }

  .banner{
    &__content{
      padding: 0 15px;
    }
    &__chair{
      width: unset;
      margin-right: 0;
    }
  }

  .filter{
    &__price{
      margin-left: calc(100%/12 - 25px);
      width: calc(33.3% - 30px);
      flex-direction: column;
      align-items: normal;
      &-text{
        height: auto;
        margin-left: 0;
      }
      &-content{
        width: 100%;
      }
      &-min,&-max{
        width: 34.5%;
        margin-top: 10px;
      }
    }
    &__sort{
      width: 25%;
      flex-direction: column;
      padding: 0;
      margin-left: calc(100%/12 - 20px);
      align-items: normal;
      &-text{
        display: flex;
        margin-right: 0;
      }
      &-dropdown{
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    &__amount{
      width: 25%;
      flex-direction: column;
      padding: 0;
      margin-left: calc(100%/12 - 25px);
      align-items: normal;
      &-text{
        display: flex;
        margin-right: 0;
      }
      &-dropdown{
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }

  .products-banner{
    &__content{
      background-image: url("../images/products_banner_750.jpg");
    }
    &__text{
      width: 45%;
      margin-left: 5%;
    }
    &__btn{
      margin-left: 5%;
      margin-top: 25px;
      padding: 8px 16px;
      width: fit-content;
    }
  }

  .pagination{
    &__first-icon{
      margin-left: 10px;
    }
    &__pages{
      width: 66.7%;
    }
    &__last-icon{
      margin-right: 10px;
    }
  }

}

@media screen and (max-width: 749px) {
  .main{
    &__banner{
      height: 120px;
    }
    &__filter{
      flex-direction: column;
      padding-top: 25px;
      padding-bottom: 27px;
      margin-top: 36px;
      margin-bottom: 16px;
    }
    &__product{
      width: 100%;
      padding: 8px 15px;
    }
    &__products-banner{
      height: 330px;
      padding: 8px 15px;
    }
    &__pagination{
      margin-top: 38px;
      height: 80px;
      padding: 0 24px;
    }
  }
  .banner{
    &__text{
      font-size: 24px;
      width: 33.2%;
      padding-bottom: 0;
    }
    &__chair{
      margin-top: 18px;
      width: auto;
      img{
        height: 150%;
        float: right;
      }
    }
  }
  .filter{
    &__price{
      width: 100%;
      padding: 0 20px 18px 24px;
      box-sizing: border-box;
      border-bottom: 1px solid $otherwhite;
      margin-left: 0;
      &-min,&-max{
        width: 37.5%;
      }
      &-divider{
        padding: 0 4px;
      }
    }
    &__sort{
      width: 100%;
      flex-direction: row;
      margin-left: 0;
      margin-top: 20px;
      padding-left: 24px;
      justify-content: normal;
      &-text{
        margin-right: 10px;
      }
    }
    &__amount{
      width: 100%;
      flex-direction: row;
      margin-left: 0;
      margin-top: 20px;
      padding-left: 24px;
      justify-content: normal;
      &-text{
        margin-right: 10px;
      }
      &-active{
        margin-right: 10px;
      }
    }
  }
  .product{
    &__content{
      flex-direction: row;
      align-items: center;
      padding: 10px 0 15px 0;
    }
    &__img{
      width: 42%;
      height: unset;
      padding-right: 6px;
      img{
        width: 100%;
      }
    }
    &__info{
      align-items: normal;
    }
    &__name{
      font-size: 14px;
      margin-bottom: 10px;
    }
    &__price{
      font-size: 20px;
    }
    &__cart-btn{
      margin-bottom: 0;
      margin-top: 20px;
    }
  }
  .products-banner{
    &__content{
      background-image: url("../images/products_banner_320.jpg");
    }
    &__text{
      font-size: 24px;
      margin-left: 8%;
      width: 70%;
    }
    &__btn{
      margin-left: 8%;
      border-color: #98a7b2;
    }
  }
  .pagination{
    &__first-icon{
      margin-left: 0;
      margin-right: 10px;
    }
    &__prev-icon{
      margin-right: 10px;
    }
    &__pages{
      width: auto;
    }
    &__page{
      display: none;
      &--active{
        padding: 10px 15px;
      }
    }
    &__next-icon{
      margin-left: 10px;
    }
    &__last-icon{
      margin-left: 10px;
      margin-right: 0;
    }
  }
}