nav{
  background-color: #ffffff;
  width: 100%;
  border-width: 1px 0;
  border-style: solid;
  border-color: $otherwhite;
}

.nav__content{
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  &__menu{
    display: flex;
    justify-content: center;
    width: calc(100%/12*8);
    padding-inline-start: 0;
    margin: 0;
    &__item{
      text-transform: uppercase;
      list-style: none;
      font-size: 12px;
      font-family: 'PT Root UI_Bold';
      margin-right: 30px;
      padding: 18px 0;
      letter-spacing: 1.1px;
      a{
        color: $primary_font_color;
        text-decoration: none;
        &:hover{
          color: $active;
        }
        &:active{
          border-bottom: 3px solid $active;
          padding-bottom: 17px;
        }
      }
      &:last-child{
        margin-right: auto;
      }
    }
  }
  &__search{
    display: flex;
    width: calc(100%/12*4 - 42px);
    border-width: 0 1px;
    border-style: solid;
    border-color: $otherwhite;
    align-items: center;
    padding-left: 20px;
    input {
      width: 90%;
      font-size: 16px;
      font-family: 'PT Root UI_Regular';
      height: 100%;
      border: none;
      padding: 0;
      &:focus{
        outline: none;
      }
    }
    &-icon {
      margin-right: 20px;
    }
  }
}