$primary_font_color:#343e5c;
$whity:#f6f6fa;
$otherwhite:#f0f2f7;
$active:#f54732;

@font-face {
  font-family: 'PT Root UI_Bold';
  src: url(../fonts/PT_Root_UI_Bold.ttf);
}

@font-face {
  font-family: 'PT Root UI_Regular';
  src: url(../fonts/PT_Root_UI_Regular.ttf);
}

body {
  margin: 0;
  background-color: black;
}

@import "header.scss";
@import "nav.scss";