$secondary_font_color_main:rgb(130, 138, 162);

%carousel-image{
  list-style: none;
  margin: 8px 0;
  width: 65px;
  height: 65px;
  border: 2px solid;
  border-color: transparent;
  border-radius: 5px;
  overflow: hidden;
}

.main{
  flex: 1 0 auto;
  background-color: $bg_main;
  &__wrapper{
    max-width: 1170px;
    margin: 0 auto;
  }
  &__breadcrumbs{
    margin: 30px 0;
  }
  &__container{
    background-color: white;
    display: flex;
    padding: 36px 0 45px 0;
    margin-bottom: 120px;
  }
  &__carousel{
    width: calc(100%/6);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content{
    width: calc(100%/12*10);
    display: flex;
    flex-wrap: wrap;
  }
  &__product-image{
    width: 50%;
    img{
      width: 100%;
    }
  }
  &__product-info{
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  &__product-description{
    list-style: none;
    width: 90%;
    &-item{
      margin-bottom: 45px;
    }
  }
}

.breadcrumbs{
  &__main-page,&__catalog{
    color: $secondary_font_color_main;
    text-decoration: none;
    font-family: "PT Root UI_Regular";
    font-size: 14px;
    line-height: 1.2;
  }
  &__product{
    display: inline-block;
    font-family: "PT Root UI_Regular";
    font-size: 14px;
    line-height: 1.2;
    color: $primary_font_color;
    font-weight: 600;
  }
}

.carousel{
  &__prev-icon:hover,&__next-icon:hover{
    cursor: pointer;
    path{
      fill: $active;
    }
  }
  &__images{
    padding: 8px 0;
  }
  &__image{
    @extend %carousel-image;
    img{
      width: 100%;
    }
    &--active{
      @extend %carousel-image;
      border-color: $btn_border;
      img{
        width: 100%;
      }
    }
  }
}

.product{
  &__name{
    font-size: 36px;
    font-family: "PT Root UI_Bold";
    color: $primary_font_color;
    margin-bottom: 5px;
  }
  &__code{
    color: $secondary_font_color_main;
    font-family: "PT Root UI_Regular";
    font-size: 16px;
    margin-bottom: 8px;
  }
  &__available{
    padding-bottom: 25px;
    &-icon{
      margin-right: 5px;
    }
    &-text{
      color: $primary_font_color;
      font-family: "PT Root UI_Regular";
      font-size: 16px;
    }
  }
  &__purchase{
    background-color: $bg_main;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
  }
  &__content{
    width: 100%;
    display: flex;
  }
  &__price{
    line-height: 0.7;
    font-family: "PT Root UI_Bold";
    color: $primary_font_color;
    font-size: 30px;
    width: 50%;
    display: flex;
    align-items: center;
  }
  &__amount{
    width: 50%;
    display: flex;
    align-items: center;
    &-less{
      padding: 10px 0;
      cursor: pointer;
    }
    &-value{
      width: 5%;
      padding: 6px 16px;
      margin: 0 10px;
      border-color: $btn_border;
      border-style: solid;
      font-family: "PT Root UI_Regular";
      text-align: center;
      font-size: 16px;
      &:focus{
        outline: none;
      }
    }
    &-more{
      cursor: pointer;
    }
  }
  &__buy-btn{
    width: 100%;
    background-color: $active;
    border-radius: 5px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-family: "PT Root UI_Bold";
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 20px 0;
  }
  &__free-delivery{
    width: 100%;
    display: flex;
    &-text{
      font-size: 16px;
      line-height: 1.2;
      color: $secondary_font_color_main;
      font-family: "PT Root UI_Regular";
      display: flex;
      align-items: center;
      margin-left: 10px;
    }
  }
}

.description{
  &__title{
    font-family: "PT Root UI_Bold";
    font-size: 18px;
    color: $primary_font_color;
    margin-bottom: 20px;
    display: block;
  }
  &__text{
    font-family: "PT Root UI_Regular";
    font-size: 16px;
    color: $secondary_font_color_main;
    line-height: 1.5;
  }
}