<footer class="footer">
  <div class="footer__content">

    <div class="footer__nav">
      <div class="footer__logo">
        <a href="#"><img src="../../assets/images/footer_logo.png" alt="logo"></a>
        <div class="footer__copyright-mob">&#169; Все права защищены, 2019</div>
      </div>
      <ul class="footer__menu">
        <li class="footer__menu-item"><a href="#">стулья и кресла</a></li>
        <li class="footer__menu-item"><a href="#">кровати и матрасы</a></li>
        <li class="footer__menu-item"><a href="#">шкафы и комоды</a></li>
        <li class="footer__menu-item"><a href="#">мебель для кухни</a></li>
        <li class="footer__menu-item"><a href="#">товары для дома</a></li>
      </ul>
    </div>

    <div class="footer__divider"></div>

    <div class="footer__additional-info">
      <div class="footer__copyright">&#169; Все права защищены, 2019</div>
      <div class="footer__techsupport">
        <div class="footer__techsupport-text">
          <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13">
            <path fill="#9ea5ba" fill-rule="evenodd"
                  d="M315.722,37a0.683,0.683,0,0,0-.722.723A12.268,12.268,0,0,0,327.278,50,0.682,0.682,0,0,0,328,49.277V46.749a0.682,0.682,0,0,0-.722-0.722,7.869,7.869,0,0,1-2.6-.433,0.694,0.694,0,0,0-.722.216L322.367,47.4a11.238,11.238,0,0,1-4.767-4.767l1.589-1.589a0.732,0.732,0,0,0,.216-0.722,8.172,8.172,0,0,1-.433-2.6A0.683,0.683,0,0,0,318.25,37"
                  transform="translate(-315 -37)"/>
          </svg>
          <span>Техническая поддержка</span>
        </div>

        <div class="footer__techsupport-phone">
          +7 (499) 653-9-900
        </div>
      </div>
      <div class="footer__check-order">
        <a href="#">Проверить статус заказа</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19">
          <path data-name="Check-order"
                d="M934.015,43.445l-3.231-3L930.306,40l-0.6.444-0.718.777,2.393,2.221-2.393,2.332,0.718,0.666,0.6,0.555,0.478-.555Z"
                transform="translate(-921 -34)" fill="#9ea5ba"/>
          <path data-name="Check-order2"
                d="M930.5,53a9.5,9.5,0,1,1,9.5-9.5A9.511,9.511,0,0,1,930.5,53Zm0-17a7.5,7.5,0,1,0,7.5,7.5A7.508,7.508,0,0,0,930.5,36Z"
                transform="translate(-921 -34)" fill="#9ea5ba"/>
        </svg>
      </div>
      <div class="footer__log-in">
        <img src="../../assets/images/login_icon.svg" alt="login">
        <a href="#">Войти в систему</a>
      </div>
    </div><!-- END:footer__content__additional-info -->

  </div><!-- END:footer__content -->
</footer>
<div class="black-bg"  [ngStyle]="{'display': navBarState ? 'block' : 'none'}"></div>
