<div class="main__cart">
  <div class="cart__title">Корзина</div>
  <ul class="cart__items">
    <app-cart-product (updateCart)="initCart()" *ngFor="let product of cart.products" [product]="product"></app-cart-product>
  </ul>
  <div class="cart__info">
    <div class="cart__amount">{{cart.products.length}} товаров</div>
    <div class="cart__total">
      <span class="cart__total-text">К оплате:</span>
      <span class="cart__total-price">{{cart.total}} &#8381;</span>
    </div>
  </div>
</div>
