<main class="main">
    <app-banner-big></app-banner-big>
    <app-filter></app-filter>

  <div class="main__products">
    <div class="main__products-wrapper">
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair0.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Стул Ханна</div>
            <div class="product__price">9 399 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair1.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Стул Эдинбург</div>
            <div class="product__price">5 690 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair2.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Стул Сольер</div>
            <div class="product__price">2 390 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair3.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Стул Стелла</div>
            <div class="product__price">3 500 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair4.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Стул Бланес</div>
            <div class="product__price">4 300 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair5.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Кресло Гоа</div>
            <div class="product__price">8 499 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__products-banner">
        <div class="products-banner__content">
          <div class="products-banner__text">Товары для дома со скидкой</div>
          <div class="products-banner__btn">Смотреть все</div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair6.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Кресло Мильтон</div>
            <div class="product__price">12 599 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair7.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Кресло Ханна</div>
            <div class="product__price">9 399 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair8.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Стул Рикардо</div>
            <div class="product__price">9 399 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair9.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Стул Версаль</div>
            <div class="product__price">9 399 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair10.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Стул Лина</div>
            <div class="product__price">9 399 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair11.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Кресло София</div>
            <div class="product__price">9 399 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair12.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Стул Родос</div>
            <div class="product__price">9 399 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
      <div class="main__product">
        <div class="product__content">
          <div class="product__img">
            <img src="images/products/chair13.jpg" alt="chair">
          </div>
          <div class="product__info">
            <div class="product__name">Стул Бетти</div>
            <div class="product__price">9 399 &#8381;</div>
            <div class="product__cart-btn">В корзину</div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <app-pagination></app-pagination>

</main>
