<div class="main__filter">

<div class="filter__price">
  <span class="filter__price-text">Цена</span>
  <div class="filter__price-content">
    <input type="text" (blur)="collectFilterData()" [(ngModel)]="val[0]" class="filter__price-min">
    <span class="filter__price-divider">&mdash;</span>
    <input type="text" (blur)="collectFilterData()" [(ngModel)]="val[1]" class="filter__price-max">
    <p-slider (mouseLeave)="collectFilterData()" styleClass="ui-slider-override" [min]="0" [max]="20000" [range]="true" [(ngModel)]="val"></p-slider>
  </div>

</div><!-- End:filter__price -->

<div class="filter__sort">
  <span class="filter__sort-text">Сортировка:</span>
  <p-dropdown (onChange)="collectFilterData()" [options]="sort.types" [(ngModel)]="sort.selected" styleClass="ui-dropdown-override"></p-dropdown>
</div><!-- End:filter__sort -->

<div class="filter__amount">
  <div class="filter__amount-text">Товаров на странице:</div>
  <p-dropdown (onChange)="collectFilterData()" [options]="productsAmount.types" [(ngModel)]="productsAmount.selected" styleClass="ui-dropdown-override"></p-dropdown>
</div>

</div>
