$primary_font_color:rgb(20, 37, 88);
$secondary_font_color:#9ea5ba;
$otherwhite:#f0f2f7;
$active:#f54732;
$bg_main:#f5f8fa;
$btn_border:#e3e8f0;

.main {
  &__pagination {
    max-width: 1170px;
    margin: 58px auto 0 auto;
    background-color: white;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1199px) {
  .main{
    &__pagination{
      margin-right: 15px;
      margin-left: 15px;
    }
  }
}

@media screen and (max-width: 749px) {
  .main{
    &__pagination{
      margin-top: 38px;
      height: 80px;
      padding: 0 24px;
    }
  }
}


:host {
  ::ng-deep .ui-paginator-override {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    .ui-paginator-element{
      border: 3px solid $btn_border;
      border-radius: 100%;
      padding: 20px;
      margin: 0 10px;
    }
    .ui-paginator-pages{
      height: 100%;
      display: flex;
    }
    .ui-paginator-page{
      padding: 24px 22px !important;
      display: flex;
      align-items: center;
      font-family: "PT Root UI_Bold";
      border-radius: 100% !important;
    }

    .ui-state-active{
      background-color: white !important;
      border-radius: 100% !important;
      box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3) !important;
      color: $active !important;
      outline: none !important;
    }
  }
}
