<li class="cart__item">
  <div class="item__image">
    <img src="../../../../assets/images/products/{{product.galleryUrls.max[0]}}" alt="chair">
  </div>
  <div class="item__content">
    <div class="item__info">
      <div class="item__name">{{product.name}}</div>
      <div class="item__code">Код товара {{product.code}}</div>
    </div>
    <div class="item__price">{{product.price}} &#8381;</div>
  </div>
  <div class="item__amount">
    <app-spinner (productAmount)="updateAmount($event)" [amount]="product.count"></app-spinner>
  </div>
  <div class="item__price-total">{{product.price * product.count}} &#8381;</div>
  <svg (click)="deleteProduct()" xmlns="http://www.w3.org/2000/svg" class="item__delete" width="14px" height="14px">
    <path fill-rule="evenodd" fill="rgb(161, 168, 189)"
          d="M8.360,6.993 L13.713,1.642 C14.087,1.265 14.087,0.653 13.713,0.276 C13.335,-0.102 12.721,-0.102 12.346,0.276 L6.993,5.626 L1.642,0.276 C1.265,-0.102 0.653,-0.102 0.275,0.276 C-0.102,0.653 -0.102,1.265 0.275,1.642 L5.627,6.993 L0.275,12.346 C-0.102,12.721 -0.102,13.336 0.275,13.713 C0.653,14.088 1.265,14.088 1.642,13.713 L6.993,8.360 L12.346,13.713 C12.721,14.088 13.335,14.088 13.713,13.713 C14.087,13.336 14.087,12.721 13.713,12.346 L8.360,6.993 Z"/>
  </svg>
</li>
