<header class="header">
  <div class="header__content">

    <div class="header__burger-menu">
      <svg class="burger-menu__close" xmlns="http://www.w3.org/2000/svg" width="14" height="14">
        <path fill="#343e5c" d="M8 7l6 6v1h-1L7 8l-6 6H0v-1l6-6-6-6V0h1l6 6 6-6h1v1z"
              data-name="burger menu close"/>
      </svg>
      <div class="burger-menu__content">

        <ul class="burger-menu__menu">
          <li class="burger-menu__menu-item"><a href="#">стулья и кресла</a></li>
          <li class="burger-menu__menu-item"><a href="#">кровати и матрасы</a></li>
          <li class="burger-menu__menu-item"><a href="#">шкафы и комоды</a></li>
          <li class="burger-menu__menu-item"><a href="#">мебель для кухни</a></li>
          <li class="burger-menu__menu-item"><a href="#">товары для дома</a></li>
        </ul>

        <div class="burger-menu__divider"></div>

        <div class="burger-menu__techsupport">
          <div class="techsupport__content">
            <svg class="techsupport__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="13">
              <path fill="#9ea5ba" transform="translate(-315 -37)"
                    d="M315.722,37a0.683,0.683,0,0,0-.722.723A12.268,12.268,0,0,0,327.278,50,0.682,0.682,0,0,0,328,49.277V46.749a0.682,0.682,0,0,0-.722-0.722,7.869,7.869,0,0,1-2.6-.433,0.694,0.694,0,0,0-.722.216L322.367,47.4a11.238,11.238,0,0,1-4.767-4.767l1.589-1.589a0.732,0.732,0,0,0,.216-0.722,8.172,8.172,0,0,1-.433-2.6A0.683,0.683,0,0,0,318.25,37"/>
            </svg>
            <span class="techsupport__text">Техническая поддержка</span>
          </div>
          <div class="techsupport__phone">+7 (499) 653-9-900</div>
        </div>

        <div class="burger-menu__check-order">
          <a href="#" class="check-order__content">
            <span class="check-order__text">Проверить статус заказа</span>
            <svg class="check-order__icon" xmlns="http://www.w3.org/2000/svg" width="19" height="19">
              <path data-name="Check-order" transform="translate(-921 -34)" fill="#142558"
                    d="M934.015,43.445l-3.231-3L930.306,40l-0.6.444-0.718.777,2.393,2.221-2.393,2.332,0.718,0.666,0.6,0.555,0.478-.555Z"/>
              <path data-name="Check-order2" transform="translate(-921 -34)" fill="#dadee2"
                    d="M930.5,53a9.5,9.5,0,1,1,9.5-9.5A9.511,9.511,0,0,1,930.5,53Zm0-17a7.5,7.5,0,1,0,7.5,7.5A7.508,7.508,0,0,0,930.5,36Z"/>
            </svg>
          </a>
        </div>

        <div class="burger-menu__log-in">
          <a href="#" class="log-in__content btn-additional">
            <svg class="log-in__icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
              <path fill="#a1a8bd"
                    d="M1216,45a3,3,0,1,1,3-3A3.009,3.009,0,0,1,1216,45Zm6,6h-12V50.25c0-2.625,2.47-4.5,6-4.5s6,1.875,6,4.5V51Z"
                    transform="translate(-1210 -39)"/>
            </svg>
            <span class="log-in__text">Вход</span>
          </a>
        </div>

      </div>

    </div> <!-- End: .header__burger-menu -->

    <svg class="header__burger-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="14">
      <path fill="#343e5c" d="M10 0H0v2h18V0h-8zm0 6H0v2h18V6h-8zm0 6H0v2h18v-2h-8z" data-name="burger menu"/>
    </svg>

    <a href="#" class="header__logo">
      <img src="../../assets/images/logo.png" alt="logo">
    </a>

    <div class="header__phone">
      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13">
        <path fill="#a1a8bd" transform="translate(-315 -37)"
              d="M315.722,37a0.683,0.683,0,0,0-.722.723A12.268,12.268,0,0,0,327.278,50,0.682,0.682,0,0,0,328,49.277V46.749a0.682,0.682,0,0,0-.722-0.722,7.869,7.869,0,0,1-2.6-.433,0.694,0.694,0,0,0-.722.216L322.367,47.4a11.238,11.238,0,0,1-4.767-4.767l1.589-1.589a0.732,0.732,0,0,0,.216-0.722,8.172,8.172,0,0,1-.433-2.6A0.683,0.683,0,0,0,318.25,37"/>
      </svg>
      <span>+7 (499) 653-9-900</span>
    </div>

    <div class="header__check-order">
      <a href="#" class="check-order__content">
        <span class="check-order__text">Проверить статус заказа</span>
        <svg class="check-order__icon" xmlns="http://www.w3.org/2000/svg" width="19" height="19">
          <path data-name="Check-order"
                d="M934.015,43.445l-3.231-3L930.306,40l-0.6.444-0.718.777,2.393,2.221-2.393,2.332,0.718,0.666,0.6,0.555,0.478-.555Z"
                transform="translate(-921 -34)" fill="#142558"/>
          <path data-name="Check-order2"
                d="M930.5,53a9.5,9.5,0,1,1,9.5-9.5A9.511,9.511,0,0,1,930.5,53Zm0-17a7.5,7.5,0,1,0,7.5,7.5A7.508,7.508,0,0,0,930.5,36Z"
                transform="translate(-921 -34)" fill="#dadee2"/>
        </svg>
      </a>
    </div>

    <div class="header__search">
      <svg class="header__search-icon" xmlns="http://www.w3.org/2000/svg" width="13" height="13">
        <path fill="#343e5c" data-name="Иконка поиска" transform="translate(-1254 -112)"
              d="M1266.61,124.61a1.28,1.28,0,0,1-1.81,0l-2.64-2.644a5.389,5.389,0,1,1,1.81-1.812l2.64,2.645A1.281,1.281,0,0,1,1266.61,124.61Zm-4.88-9.593a3.332,3.332,0,1,0,0,4.714A3.33,3.33,0,0,0,1261.73,115.017Z"/>
      </svg>
    </div>

    <div class="header__cart">
      <svg class="header__cart-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="17">
        <path fill="#a1a8bd"
              d="M1033,40.052l-1,2.988c-0.37.837-.9,1.991-2,1.991h-9.64l0.12,1H1033l-1,1.991h-12.65l-0.64.075-1.19-10.033H1016a1,1,0,0,1-1-1,0.974,0.974,0,0,1,.9-1.058l3.39-.014,0.26,2.15a1.148,1.148,0,0,1,.45-0.083h12C1033.1,38.061,1033,38.952,1033,40.052Zm-12,8.962a1.992,1.992,0,1,1-2,1.992A2,2,0,0,1,1021,49.015Zm8,0a1.992,1.992,0,1,1-2,1.992A2,2,0,0,1,1029,49.015Z"
              data-name="Shopping Cart Icon" transform="translate(-1015 -36)"/>
      </svg>
      <a href="#" class="header__cart-text">Корзина</a>
      <span class="header__cart-count">0</span>
    </div>

    <div class="header__log-in">
      <a href="#" class="log-in__content btn-additional">
        <svg class="log-in__icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
          <path fill="#a1a8bd"
                d="M1216,45a3,3,0,1,1,3-3A3.009,3.009,0,0,1,1216,45Zm6,6h-12V50.25c0-2.625,2.47-4.5,6-4.5s6,1.875,6,4.5V51Z"
                transform="translate(-1210 -39)"/>
        </svg>
        <span class="log-in__text">Вход</span>
      </a>
    </div>

  </div><!-- END: header__content -->
</header>
