<div class="main__order-registration">
  <div class="order-registration__content">
    <div class="order-registration__title">Оформление заказа</div>
    <form class="order-registration__address">
      <div class="address__title">Адрес доставки</div>
      <input type="text" class="address__primary" placeholder="Город, улица, номер дома*">
      <div class="address__secondary-content">
        <input type="text" class="address__secondary-office" placeholder="Кв/офис">
        <input type="text" class="address__secondary-floor" placeholder="Этаж">
        <input type="text" class="address__secondary-entrance" placeholder="Подъезд">
      </div>
      <textarea class="address__comment" placeholder="Комментарий к заказу"></textarea>
    </form>
    <form class="order-registration__receiver">
      <div class="receiver__title">Получатель</div>
      <input type="text" class="receiver__first-name" placeholder="Имя*">
      <input type="text" class="receiver__last-name" placeholder="Фамилия*">
      <input type="text" class="receiver__email" placeholder="Электронная почта*">
      <input type="text" class="receiver__phone" placeholder="Номер телефона*">
    </form>
    <div class="order-registration__btn">Оформить заказ</div>
  </div>
</div>
