$primary_font_color:rgb(20, 37, 88);
$secondary_font_color:#9ea5ba;
$otherwhite:#f0f2f7;
$active:#f54732;
$bg_main:#f5f8fa;
$btn_border:#e3e8f0;
$secondary_font_color_main:rgb(120, 128, 153);

.cart{
  &__item{
    height: 99px;
    border-bottom: 1px solid $otherwhite;
    display: flex;
    align-items: center;
  }
}

.item {
  &__image {
    width: calc(100% / 6);
  }
  &__content {
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  &__info {
    font-family: "PT Root UI_Regular";
  }
  &__name {
    font-size: 16px;
    color: $primary_font_color;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 3px;
  }
  &__code {
    font-size: 14px;
    color: $secondary_font_color;
  }
}

@media screen and (max-width: 749px) {
  .item{
    &__image{
      width: 30%;
    }
    &__content{
      padding-left: 20px;
    }
  }
}
